@model Common.Define.ShakeItem

@{
    Layout = "../Shared/_MobileLayout.cshtml";
}
<style type="text/css">
    body {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #65AC1E;
        font-family: "微软雅黑";
    }

    body, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, select, textarea, button, th, td {
        margin: 0;
        padding: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 100%;
    }

    ul, dl, ol {
        list-style: none;
    }

    img, fieldset, input[type="submit"] {
        border: 0 none;
    }

    img {
        display: inline-block;
        overflow: hidden;
        vertical-align: top;
    }

    em {
        font-style: normal;
    }

    strong {
        font-weight: normal;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    button, input[type="button"] {
        cursor: pointer;
        border: 0 none;
    }

    textarea {
        word-wrap: break-word;
        resize: none;
    }
    /* word-wrap for opera, resize for webkit */
    menu {
        margin: 0;
        padding: 0;
    }

    body {
        -webkit-user-select: none;
        -webkit-text-size-adjust: none !important;
        font-family: Helvetica;
    }

    input[type="number"] {
        -webkit-user-select: text;
    }

        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

    a, button, input, img {
        -webkit-touch-callout: none;
    }

    input, select, textarea {
        outline: none;
    }

    html {
        -ms-touch-action: none;
    }

    input, button {
        height: 3rem;
        opacity: 0.8;
        border: 1px solid #fff;
        border-radius: 10px;
        padding-left: 1rem;
        font-size: 1.5rem;
        font-family: "微软雅黑";
        width: 90%;
        margin: 1rem auto;
        display: block;
    }

    body {
        background-image: url("/Content/images/bg.jpg");
        background-position: -200px 0;
    }

    input {
        color: #65AC1E;
        border: #65AC1E;
    }

    button {
        background-color: #CCE9D5;
        color: #8BA796;
    }

    img {
        width: 100%;
    }

    .daoqing {
        color: #009C00;
        text-shadow: 1px 1px 1px #004900;
        font-size: 2rem;
    }

    .shakeresult {
        font-size: 2rem;
        opacity: 0.5;
        width: 90%;
        margin: 15px auto;
    }
</style>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
          resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
          recalc = function () {
              var clientWidth = docEl.clientWidth;
              if (!clientWidth) return;
              docEl.style.fontSize = (clientWidth / 27) + 'px';
          };
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
    /*		window.onload = function(){
              document.body.style.display = 'block';
            };*/
</script>
<div class="shakeresult">
    <p>我是 @Model.Name，来自 @Model.Area；</p>
    <p>2016我推广<span class="daoqing">稻清<sup>®</sup></span> @Model.Score 亩</p>
    <p>防治稻瘟，我推荐<span class="daoqing">稻清<sup>®</sup></span>！</p>
</div>
<img src="/Content/images/1.jpg">
<img src="/Content/images/2.jpg">
<img src="/Content/images/3.jpg">
<img src="/Content/images/4.jpg">
<img src="/Content/images/weizhibao.jpg">