@model Common.Define.ShakeItem

@{
    Layout = "../Shared/_MobileLayout.cshtml";
}

<style type="text/css">
    body {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #65AC1E;
        font-family: "微软雅黑";
    }

    body, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, select, textarea, button, th, td {
        margin: 0;
        padding: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 100%;
    }

    ul, dl, ol {
        list-style: none;
    }

    img, fieldset, input[type="submit"], #checkIn {
        border: 0 none;
    }

    img {
        display: inline-block;
        overflow: hidden;
        vertical-align: top;
    }

    em {
        font-style: normal;
    }

    strong {
        font-weight: normal;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    button, input[type="button"] {
        cursor: pointer;
        border: 0 none;
    }

    textarea {
        word-wrap: break-word;
        resize: none;
    }
    /* word-wrap for opera, resize for webkit */
    menu {
        margin: 0;
        padding: 0;
    }

    body {
        -webkit-user-select: none;
        -webkit-text-size-adjust: none !important;
        font-family: Helvetica;
    }

    input[type="number"] {
        -webkit-user-select: text;
    }

        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

    a, button, input, img {
        -webkit-touch-callout: none;
    }

    input, select, textarea {
        outline: none;
    }

    html {
        -ms-touch-action: none;
    }

    input, button {
        height: 3rem;
        opacity: 0.8;
        border: 1px solid #fff;
        border-radius: 10px;
        padding-left: 1rem;
        font-size: 1.5rem;
        font-family: "微软雅黑";
        width: 90%;
        margin: 1rem auto;
        display: block;
    }

    body {
        background-image: url("/Content/images/bg.jpg");
        background-position: -200px 0;
    }

    input {
        color: #65AC1E;
        border: #65AC1E;
    }

    button {
        background-color: #CCE9D5;
        color: #8BA796;
    }

    .title {
        color: #009C00;
        text-shadow: 1px 1px 1px #004900;
        font-size: 2rem;
        padding: 1rem;
    }

    .content {
        font-size: 2rem;
        padding: 1rem;
        color: #EE6A03;
        font-weight: bold;
    }


    .userinfo {
        position: absolute;
        bottom: 50px;
        width: 100%;
    }
</style>

<div>
    <p class="title">稻清<sup>®</sup></p>
    <p class="content">稻瘟管理新标准！</p>

    <div class="userinfo">
        <div>
            <input name="Name" id="Name" type="text" placeholder="请输入姓名" />
        </div>
        <div>
            <input name="Telephone" id="Telephone" type="number" maxlength="11" placeholder="请输入手机号" />
        </div>
        <div>
            <input name="Area" id="Area" type="text" placeholder="请输入县、区" />
        </div>
        <button id="checkIn">签到</button>
    </div>
</div>
<script type="text/javascript">

    $("#checkIn").on("click", function () {
        var item = {
            Name: $("#Name").val(),
            Telephone: $("#Telephone").val(),
            Area: $("#Area").val()
        };
        if (!item.Name) {
            alert("您还没有输入姓名。");
            return;
        }
        if (!item.Telephone) {
            alert("您还没有输入手机号。");
            return;
        }
        if (!item.Area) {
            alert("您还没有输入县、区。");
            return;
        }

        $.ajax("/weixin/add", {
            type: "post",
            data: item,
            dataType: "json",
            success: function (r) {
                if (r.id) {
                    window.location = "http://" + location.host + "/weixin/Show?id=" + r.id;
                } else {
                    alert("哎呀，签到失败了。。。");
                }
            },
            error: function (r) {
                alert("哎呀，提交失败了。。。");
            }
        });

        //$.ajax({
        //    url: "/weixin/add",
        //    type: "post",
        //    data: item,
        //    dataType: "json",
        //    success: function (r) {
        //        if (r.id) {
        //            window.location = "http://" + location.host + "/weixin/Show?id=" + r.id;
        //        } else {
        //            alert("哎呀，签到失败了。。。");
        //        }
        //    },
        //    error: function (r) {
        //        alert("哎呀，提交失败了。。。");
        //    }
        //});
    });

    (function (doc, win) {
        var docEl = doc.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function () {
                var clientWidth = docEl.clientWidth;
                if (!clientWidth) return;
                docEl.style.fontSize = (clientWidth / 27) + 'px';
            };
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>