@{
    Layout = "../Shared/_MobileLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/css/Show.css" />
<div id="status"></div>
<div class="shake" id="shake"></div>
<div class="shakeend" id="shakeend">点击右上角，分享至朋友圈可查看摇一摇结果。</div>
<input type="button" value="开始" onclick="onStart(this)" id="beginshake" />
<audio controls="controls" preload="auto" style="display:none" id="audio">
    <source src="~/Content/audio/shake.mp3" type="audio/mpeg">
</audio>
<audio controls="controls" preload="auto" style="display:none" id="audioend">
    <source src="~/Content/audio/shakeend.mp3" type="audio/mpeg">
</audio>
<script>
    var shakeItemId = '@ViewBag.Id';
    window.afterShare = function () {
        window.location = "http://" + location.host + "/weixin/Finish?id=" + shakeItemId;
    };

    function toResultPage(score) {
        $.ajax({
            url: "/weixin/update",
            type: "post",
            data: { id: shakeItemId, result: score },
            dataType: "json",
            success: function (r) {

            },
            error: function (r) {
                alert("哎呀，提交失败了。。。");
            }
        });
        //window.location = "http://" + host + "/weixin/update?id=" + shakeItemId + "&result=" + score;
    }
    var shake = 4000,
        flag = false,
        last_update = 0,
        shakeresult = 8000,
        x = y = z = last_x = last_y = last_z = 0;
    var a = document.getElementById('audio'), aend = document.getElementById('audioend');
    if (window.DeviceMotionEvent) {
        window.addEventListener("devicemotion", deviceMotionHandler, false);
    } else {
        alert("本设备不支持摇一摇");
    }
    function deviceMotionHandler(eventData) {
        if (!flag) {
            return;
        };
        var acceleration = eventData.accelerationIncludingGravity,
            currTime = new Date().valueOf(),
            diffTime = currTime - last_update;
        if (diffTime > 100) {
            last_update = currTime;
            x = acceleration.x;
            y = acceleration.y;
            z = acceleration.z;
            var speed = Math.abs(x + y + z - last_x - last_y - last_z) / diffTime * 10000
            var status = document.getElementById("status");
            if (speed > shake) {
                a.play();
                shakeresult += parseInt(speed / 100);
                if (shakeresult > 100000) {
                    shakeresult = 100000;
                    status.innerHTML = "你摇了中" + parseInt(shakeresult / 1000) + "";
                };
            };
            last_x = x;
            last_y = y;
            last_z = z;
        };
    };

    var TIME_CONST = 20; // 摇一摇的时间
    var countdown = TIME_CONST;
    function onStart(val) {
        document.getElementById('shake').classList.add("shaking");
        flag = true;
        count = 0;
        settime(val);
    }
    function settime(val) {
        if (countdown == 0) { // 计时结束
            val.removeAttribute("disabled");
            val.value = "重新开始";
            countdown = TIME_CONST;
            //最后结果
            flag = false;
            aend.play();
            document.getElementById('shake').style.display = 'none';
            document.getElementById('beginshake').style.display = 'none';
            document.getElementById('shakeend').style.display = 'block';
            toResultPage(shakeresult);
        } else {
            val.setAttribute("disabled", true);
            val.value = "赶紧拼命摇(" + countdown + ")";
            countdown--;
            setTimeout(function () {
                settime(val)
            }, 1000);
        }
    }
</script>
